body {
  /*padding: 0 50px;*/
  font: 14px "DejaVu Sans", Helvetica, Arial, sans-serif;
  background-color: #FDFCEE;
}
.content{
  margin-top: 50px;
}
.navbar-nav > .nav-item > .nav-link, .navbar-light .navbar-brand {
  font-size: 18px;
  color: #ffffff;
}
.navbar-light .navbar-nav .active>.nav-link {
  color: #D00C14;
  text-decoration: underline;
}

.profile-tab{
  width:100%;
  height: 250px;
  text-align: center;
}

.tab{
  width: 100%;
  display: none;
  transition: all .2s ease-in-out;
}

input[type=number]{
  width: 60px;
}

input.invalid {
  background-color: #ffdddd;
}

.skills-div{
  margin-top: 10px;
}

.item-icon{
  width: 16px;
  height: 16px;
}

#errors{
  color: #dc0000;
  font-size: 16px;
}

.list-items{
  /*margin-top:10px;*/
  background: #E3DCDC;
}

.member-info{
  font-size: 15px;
  font-weight: bold;
}

#chat-box{
  background-color: #e6e5df;
  height: calc(100% - 60px);
  padding: 10px;
  max-height: calc(100% - 50px);
}

#chat-box #messages {
  height: 100%;
  overflow-x: hidden;
}

#messages {
  overflow-y: auto;
}

.chat-area {
  display: inline-block;
  padding-left: 0;
  width: 100%;
  height: 700px;
}

#nav-row, .navbar{
  background-color: #181616 !important;
}

#landing-image{
  height: 350px;
  background-size:contain;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg") no-repeat center;
}

#landing-content{
  color: #ffffff;
  padding-top: 50px;
}

#landing-buttons{
  padding-top: 50px;
}

#login-btn{
  background-color: #CB9526;
}

.landing-btn{
  margin: 0 15px;
}

.landing-text{
  font-size: 24px;
  margin: 30px 0;
}

#statistic, .footer-container {
  background: #171616;
}

.footer-container{
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
}

.footer-container-small{
  padding: 15px 30px;
  border-top: 1px solid white;

}

#statistic{
  padding: 15px 30px;
  min-height: 340px;
}

#latest-items, #hottest-items, #voted-items{
  font-size: 32px;
}

#latest-items{
  color: #DFD2D2;
}

#hottest-items{
  color: #AB7A22;
}

#voted-items{
  color: #D00C14;
}

.item-separator{
  height: 1px;
  color: #ffffff;
  background-color: #ffffff;
  border: none;
}

.item-description, .item-heading, #statistic > .container-fluid > .row > .col > .item-description > div > a{
  color: #ffffff;
}

.item-heading{
  font-weight: bold;
}

.stats-container{
  min-width: 100%;
}

.content-div{
  margin-top: 120px;
}

button, .btn, .btn-lg {
  border-radius: 0;
}

.center-element{
  margin:0 auto;
  display:block;
}

.center-element-link{
  margin:0 auto;
}

.login-form-button{
  border-color: transparent;
}

.login-form-button:hover{
  border-color: #a36e24;
}

.smaller-input{
  width: 500px;
}

.info-text{
  margin: 30px 0;
}

.separator{
  background-color: inherit;
  border-bottom: 1px solid black;
}

.items{
  margin-top: 5px;
}

.button-margin{
  margin-bottom: 5px;
}

.text-18{
  font-size: 18px;
}

.icon{
  color: #000000;
  margin-right: 15px;
}

.extra-height{
  height: 100px;
}

.top-padding{
  padding-top: 30px;
}