body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8F5F0;
}
.content{
  margin-top: 50px;
}
.navbar-nav > .nav-item > .nav-link {
  font-size: 18px;
}

.profile-tab{
  width:100%;
  height: 250px;
  text-align: center;
}

.tab{
  width: 100%;
  display: none;
  transition: all .2s ease-in-out;
}

input[type=number]{
  width: 60px;
}

input.invalid {
  background-color: #ffdddd;
}

.skills-div{
  margin-top: 10px;
}