{% extends 'layout.twig' %}

{% block body %}
  <h1>{{user.username}}'s characters</h1>

  <div class="row">
    <div class="col-sm-6">
      <a href="/users/newcharacter" class="profile-tab">
        <i class="fa fa-plus-circle fa-5x" aria-hidden="true" style="width:100%"></i>
        <h3>New character</h3>
      </a>
    </div>
  </div>
    {% if characters is defined %}
      <ul>
          {% for character in characters %}
            <li><a href="/users/characters/{{ character._id }}/edit">{{ character.name|e }}</a></li>
          {% endfor %}
      </ul>
    {% endif %}

{% endblock %}
