{% extends 'layout.twig' %}

{% block body %}
    <h1>New item</h1>
    <form id="newItemForm" method="post" action="/users/item">
            <div class="row">
                <div class="col-10">
                    <label for="char-name">Name</label>
                    <input class="form-control" type="text" id="item-name" name="name" placeholder="Enter item name..." required>
                    <br>
                    <div class="form-group">
                        <label for="type">Item type:</label>
                        <select class="form-control" id="type" name="type" required>
                            <option value="weapon">Weapon</option>
                            <option value="armor">Armor</option>
                            <option value="misc">Misc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="5" name="description" required></textarea>
                    </div>
                    <div style="overflow:auto;" class="offset-sm-8">
                        <input type="submit" class="btn btn-success" value="Submit">
                    </div>
                </div>
            </div>

    </form>

{% endblock %}
